<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-dark mt-0">Professional Background</h2>
                <hr class="divider divider-light"/>
                <p class="text-dark-75 mb-4">My journey began in the legal world, where I thrived and developed my
                    skills successfully. However, my true calling for adventure led me to embark on a life-changing
                    decision. I packed my bags, moved to England, and diligently saved up for a dream journey to
                    Southeast Asia. It was during this expedition that I realized my innate need for freedom and
                    creativity couldn't be fulfilled by my current profession.
                    Determined to pursue a more fulfilling path, I transitioned to the world of programming. My learning
                    journey kicked off with the renowned CS50 course at Harvard University Online, where I fell in love
                    with Python. I completed the course in June 2023, marking the beginning of my coding adventure.
                    Driven by curiosity, I delved into Git and Github through Udemy, constantly expanding my knowledge
                    in Python, web design, and Data Science. I thrive on challenges and strive for continuous
                    improvement, learning, and skill development.
                    My past experiences, including teamwork, individual tasks, and managing repetitive assignments,
                    contribute to my toolkit as a developer. I'm focused on priorities, adaptable, and ready to make a
                    positive impact in the coding world.</p>
                <br>
                <h2 class="text-dark mt-0">Beyond the Screen</h2>
                <hr class="divider divider-light"/>
                <p class="text-dark-75 mb-5">
                    Outside the world of coding, I'm a fitness enthusiast, maintaining a disciplined workout routine for
                    the past decade. This dedication speaks to my determination, consistency, goal-setting abilities,
                    and achievement mindset. I'm an avid reader, particularly fond of fantasy and popular science
                    literature, and I enjoy exploring various genres. Cooking, strolling, singing, and, of course,
                    travelling are among my favourite activities.</p>

                <p class="text-dark-75 mb-4">I approach life with a sunny disposition and embrace new challenges
                    fearlessly.
                    Join me on this exciting journey where law met code, and adventure embraced passion!</p>
                <br>
                <a class="btn btn-primary btn-xl" target="_blank" rel="noopener"
                   href="https://www.canva.com/design/DAF0Z9-7Y5A/p8IY3QYDzyiAUNimDh7Rkw/view?utm_content=DAF0Z9-7Y5A&utm_campaign=designshare&utm_medium=link&utm_source=editor">Check
                    out my resume</a>
            </div>
        </div>
    </div>
</section>