{% include "header.html" %}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Welcome</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">I am Jagoda Spychała - a beginner programmer, technology enthusiast, and
                    innovation seeker. I am passionate about creating applications, programs and websites that are not
                    only practical but also creative and delightful. My aim is to constantly expand my skills in Python,
                    Web development, and Data Science.</p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-dark mt-0">Professional Background</h2>
                <hr class="divider divider-light"/>
                <p class="text-dark-75 mb-4">My journey began in the legal world, where I thrived and developed my
                    skills successfully. However, my true calling for adventure led me to embark on a life-changing
                    decision. I packed my bags, moved to England, and diligently saved up for a dream journey to
                    Southeast Asia. It was during this expedition that I realized my innate need for freedom and
                    creativity couldn't be fulfilled by my current profession.
                    Determined to pursue a more fulfilling path, I transitioned to the world of programming. My learning
                    journey kicked off with the renowned CS50 course at Harvard University Online, where I fell in love
                    with Python. I completed the course in June 2023, marking the beginning of my coding adventure.
                    Driven by curiosity, I delved into Git and Github through Udemy, constantly expanding my knowledge
                    in Python, web design, and Data Science. I thrive on challenges and strive for continuous
                    improvement, learning, and skill development.
                    My past experiences, including teamwork, individual tasks, and managing repetitive assignments,
                    contribute to my toolkit as a developer. I'm focused on priorities, adaptable, and ready to make a
                    positive impact in the coding world.</p>
                <br>
                <h2 class="text-dark mt-0">Beyond the Screen</h2>
                <hr class="divider divider-light"/>
                <p class="text-dark-75 mb-5">
                    Outside the world of coding, I'm a fitness enthusiast, maintaining a disciplined workout routine for
                    the past decade. This dedication speaks to my determination, consistency, goal-setting abilities,
                    and achievement mindset. I'm an avid reader, particularly fond of fantasy and popular science
                    literature, and I enjoy exploring various genres. Cooking, strolling, singing, and, of course,
                    travelling are among my favourite activities.</p>

                <p class="text-dark-75 mb-4">I approach life with a sunny disposition and embrace new challenges
                    fearlessly.
                    Join me on this exciting journey where law met code, and adventure embraced passion!</p>
                <br>
                <a class="btn btn-primary btn-xl"
                   href="https://www.canva.com/design/DAF0Z9-7Y5A/p8IY3QYDzyiAUNimDh7Rkw/view?utm_content=DAF0Z9-7Y5A&utm_campaign=designshare&utm_medium=link&utm_source=editor">Check
                    out my resume</a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio-->

<section class="page-section" id="portfolio">
    <div class="container px-5 px-lg-5 text-center">
        <h1 class="text-white-75">Portfolio</h1>
        <hr class="divider">
        <p class="text-white-75">Here, you will find the latest projects I have been working on recently. For more,
            contact me by
            <a target="_blank" rel="noopener" href="mailto:jagoda.spychala1@gmail.com"
               style="text-decoration-line:underline;color:#f6f4f1;pointer-events:all;">e-mail.</a>
        </p>
    </div>
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box"
                   href="https://winterhotel.my.canva.site/"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2023-11-14 141244.png"
                         alt="Picture of hotel website"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Hotel Website</div>
                        <div class="project-name">The Winter Hotel Website<br>
                            HTML | CSS
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2023-11-15 090259.png"
                         alt="Picture of Jagoda's Blog"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Jagoda’s Blog</div>
                        <div class="project-name">A web application with users.<br>
                            Flask | Bootstrap | Postgres | SQLAlchemy | Jinja | WTForms | Gunicorn | Render
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/images/chris-curry-j5s_uLajP2o-unsplash.small.jpg"
                         alt="Morse Code Picture"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Morse Code Converter</div>
                        <div class="project-name">The Morse Code Converter program is a simple tool for
                            transforming
                            words into Morse code.<br>
                            Python
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://toster3d.github.io" title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2023-11-14 134411.png"
                         alt="Travel Website Picture"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Blueberry in Travel</div>
                        <div class="project-name">The Travel Website is a place where I share my experiences and
                            journeys from different corners of Southeast Asia. <br>
                            HTML | CSS | JavaScript
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box"
                   href="https://github.com/toster3d/Your-Meal-Planner/tree/master/toster3d-cs50-problems-2023-x-project"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/schedule.png" alt="Meal Planer Pictures"
                         width="1000" height="1100"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Your Meal Planner</div>
                        <div class="project-name">A web application for meal planning, recipe management, and
                            generating
                            shopping lists.<br>
                            HTML | CSS | Bootstrap | Python | Flask | Jinja | SQLite3 | JavaScript
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section bg-primary" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider"/>
                <p class="text-muted mb-5">I'm glad you took the time to visit my portfolio! If you have any questions,
                    want to collaborate, or just chat about a project, feel free to get in touch. Here's how you can
                    reach me:</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                               data-sb-validations="required,email"/>
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                               data-sb-validations="required"/>
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                        </div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                                  style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br/>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
{% include "footer.html" %}
