<section class="page-section bg-secondary" id="portfolio">
    <div class="container px-5 px-lg-5 text-center">
        <h1 class="text-white-75">Portfolio</h1>
        <hr class="divider">
        <p class="text-white-75">Here, you will find the latest projects I have been working on recently. For more,
            contact me by
            <a target="_blank" rel="noopener" href="mailto:jagoda.spychala1@gmail.com"
               style="text-decoration-line:underline;color:#f6f4f1;pointer-events:all;">e-mail.</a>
        </p>
    </div>
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener"
                   href="https://github.com/toster3d/tic-tac-toe-game"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/pexels-pixabay-220053.jpg"
                         alt="Picture of Tic tac toe game"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Tic Tac Toe Game</div>
                        <div class="project-name"> This simple console-based game allows you to play Tic Tac Toe against a friend or an AI opponent.<br>
                            Python
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener" href="assets/img/portfolio/fullsize/2.jpg"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2023-11-15 090259.png"
                         alt="Picture of Jagoda's Blog"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Jagoda’s Blog</div>
                        <div class="project-name">A web application with users.<br>
                            Flask | Bootstrap | Postgres | SQLAlchemy | Jinja | WTForms | Gunicorn | Render
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener"
                   href="https://github.com/toster3d/Morse-Code-Converter" title="Project Name">
                    <img class="img-fluid" src="../static/images/chris-curry-j5s_uLajP2o-unsplash.small.jpg"
                         alt="Morse Code Picture"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Morse Code Converter</div>
                        <div class="project-name">The Morse Code Converter program is a simple tool for
                            transforming
                            words into Morse code.<br>
                            Python
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener" href="https://toster3d.github.io"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2023-11-14 134411.png"
                         alt="Travel Website Picture"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Blueberry in Travel</div>
                        <div class="project-name">The Travel Website is a place where I share my experiences and
                            journeys from different corners of Southeast Asia. <br>
                            HTML | CSS | JavaScript
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener"
                   href="https://github.com/toster3d/Your-Meal-Planner/tree/master/toster3d-cs50-problems-2023-x-project"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/schedule.png" alt="Meal Planer Pictures"
                         width="1000" height="1100"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Your Meal Planner</div>
                        <div class="project-name">A web application for meal planning, recipe management, and
                            generating
                            shopping lists.<br>
                            HTML | CSS | Bootstrap | Python | Flask | Jinja | SQLite3 | JavaScript
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" target="_blank" rel="noopener"
                   href="https://github.com/toster3d/Watermark-desktop-app"
                   title="Project Name">
                    <img class="img-fluid" src="../static/images/Zrzut ekranu 2024-02-02 123354.png"
                         alt="Travel Website Picture"/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Watermark Desktop App</div>
                        <div class="project-name">This is a simple desktop application for adding watermarks to images.
                            The application allows you to choose between a logo or text watermark. <br>
                            Python | Pillow | TkInter
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>